.active{
   color: greyish;
}

.inactive{
    color: rgb(41, 36, 36);
}

h1{
flex-grow: 1;
text-align: center;
}


nav{
   display: flex;
   gap: 1rem;
  align-items: center;
  margin-left: auto;
}


.title{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  svg{
    width:2.5rem;
    
  }
}

