*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 1rem;
   color: rgb(41, 36, 36);
   background-color: rgba(27, 23, 19, 0.274);
}

button{
   padding: 0.5rem;
   border-radius: 0.4rem;
   text-decoration: none;
   color: black;
}

input{
   padding: 0.5rem;
   border-radius: 0.4rem;
   outline: none;
   margin:0;
}

h1, h2, h3{
   margin: 0;
}

p{
   margin:0;
}