.app {
  width:100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;
}


.error {
  border: 1px solid red;
  padding: 0.5rem;
  margin-top: 0.7rem;
  text-align: center;
  min-width: 50%;
}