.app {
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;
  background-color: rgb(255, 255, 255, 0.6);
  max-width: 700px;
  border:1px solid rgb(7, 7, 7);
  border-radius: 5%;
  padding: 5rem;
}


.error {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #c5111a;
  padding: 0.5rem;
  margin-top: 0.7rem;
  text-align: center;
  min-width: 50%;

  svg {
    width: 3rem;
  }

}

.title{
  display: flex;
  align-items: center;
  svg{
    width:2.5rem;
  }
}